@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@media (prefers-color-scheme: light) {
    h1   {color: #1f1f1f; text-align: center; font-size: 5vh; font-family: 'Manrope', sans-serif;}
    p    {color: #3545A7; text-align: center; font-size: 3.5vh; font-family: 'Manrope', sans-serif;}
    h2   {color: #3545A7; text-align: center; font-size: 4vh; font-family: 'Manrope', sans-serif; text-decoration: none;}
    div   {color: #3545A7; text-align: center; font-size: 3.5vh; font-family: 'Manrope', sans-serif;}

    body {
        background-color: #F1F5FB;
    }
    a:link, a:visited {
      text-align: center;
      display: inline-block;
      color: #3545A7;
      padding: 1px 1px;
      text-decoration: none;
      font-size: 3.5vh;
      font-family: 'Manrope', sans-serif;
    }
    a:hover {
        background-color: #B73239;
        color: #3545A7;
        font-size: 3.5vh;
    }
    ::selection {
        color: #B73239;
        background: #F1F5FB;
    }
    .navbar {
      position: relative;
      height: 1vh;
      color: #B73239;
    }
    .listItem {
      position: relative;
      background: #B73239;
      color: #3545A7;
    }
    .listItem h2 {
      position: relative;
      color: #1f1f1f;
      padding: 1px 1px;
    }
    .listItem p {
      position: relative;
      color: #F1F5FB;
    }
    .listItem a:link, a:visited {
      text-align: center;
      display: inline-block;
      color: #3545A7;
      padding: 1px 1px;
      text-decoration: none;
      font-size: 3.5vh;
      font-family: 'Manrope', sans-serif;
    }
    .listItem label {
      text-align: center;
      color: #F1F5FB;
      padding: 14px 16px;
      font-size: 2vh;
      font-family: 'Manrope', sans-serif;
    }
    .listItem a:hover {
        background-color: #3545A7;
        color: #B73239;
        font-size: 3.5vh;
    }
    .pace {
	    -webkit-pointer-events: none;
	    pointer-events: none;

      -webkit-user-select: none;
	    -moz-user-select: none;
	    user-select: none;

	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;

	    -webkit-transform: translate3d(0, -50px, 0);
	    -ms-transform: translate3d(0, -50px, 0);
	    transform: translate3d(0, -50px, 0);

	    -webkit-transition: transform .5s ease-out;
	    -ms-transition: transform .5s ease-out;
	    transition: transform .5s ease-out;
    }

    .pace.pace-active {
	    -webkit-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
    }

    .pace .pace-progress {
	    display: block;
	    position: fixed;
	    z-index: 2000;
	    top: 0;
	    right: 100%;
	    width: 100%;
	    height: 1vh;
	    background: #B73239;

	    pointer-events: none;
    }
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #1f1f1f; 
    }
    ::-webkit-scrollbar-thumb {
      background: #B73239; 
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #3545A7; 
    }
}
@media (prefers-color-scheme: dark) {
    h1   {color: #F1F5FB; text-align: center; font-size: 5vh; font-family: 'Manrope', sans-serif;}
    p    {color: blue; text-align: center; font-size: 3.5vh; font-family: 'Manrope', sans-serif;}
    h2   {color: blue; text-align: center; font-size: 4vh; font-family: 'Manrope', sans-serif; text-decoration: none;}
    div   {color: blue; text-align: center; font-size: 3.5vh; font-family: 'Manrope', sans-serif;}
    body {
        background-color: #1f1f1f;
    }
    a:link, a:visited {
      text-align: center;
      display: inline-block;
      color: blue;
      padding: 1px 1px;
      text-decoration: none;
      font-size: 3.5vh;
      font-family: 'Manrope', sans-serif;
    }
    a:hover {
        background-color: #92282E;
        color: blue;
        font-size: 3.5vh;
    }
    ::selection {
        color: #92282E;
        background: #1f1f1f;
    }
    .listItem {
      position: relative;
      background: #92282E;
      color: blue;
    }
    .listItem h2 {
      position: relative;
      color: #F1F5FB;
    }
    .listItem p {
      position: relative;
      color: #1f1f1f;
    }
    .listItem a:link, a:visited {
      text-align: center;
      display: inline-block;
      color: blue;
      padding: 1px 1px;
      text-decoration: none;
      font-size: 3.5vh;
      font-family: 'Manrope', sans-serif;
    }
    .listItem label {
      text-align: center;
      color: #1f1f1f;
      padding: 14px 16px;
      font-size: 2vh;
      font-family: 'Manrope', sans-serif;
    }
    .listItem a:hover {
        background-color: blue;
        color: #92282E;
        font-size: 3.5vh;
    }
    .pace {
	    -webkit-pointer-events: none;
	    pointer-events: none;

      -webkit-user-select: none;
	    -moz-user-select: none;
	    user-select: none;

	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;

	    -webkit-transform: translate3d(0, -50px, 0);
	    -ms-transform: translate3d(0, -50px, 0);
	    transform: translate3d(0, -50px, 0);

	    -webkit-transition: transform .5s ease-out;
	    -ms-transition: transform .5s ease-out;
	    transition: transform .5s ease-out;
    }

    .pace.pace-active {
	    -webkit-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
    }

    .pace .pace-progress {
	    display: block;
	    position: fixed;
	    z-index: 2000;
	    top: 0;
	    right: 100%;
	    width: 100%;
	    height: 1vh;
	    background: #92282E;

	    pointer-events: none;
    }
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #F1F5FB; 
    }
    ::-webkit-scrollbar-thumb {
      background: #92282E; 
    }
    ::-webkit-scrollbar-thumb:hover {
      background: blue; 
    }
}

.force-select {  
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;  
}
html {
  scroll-behavior: smooth;
}