<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oren's List - 404 Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css/') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico/') }}">
    <meta name="theme-color" 
      content="#B73239" 
      media="(prefers-color-scheme: light)">
    <meta name="theme-color" 
      content="#92282E" 
      media="(prefers-color-scheme: dark)">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
    </style>
    <meta property="og:title" content="404" />
    <meta property="og:url" content="https://list.s40.repl.co/" />
    <meta property="og:site_name" content="Oren's List" />
    <meta property="og:image" content="https://list.s40.repl.co/static/assets/listlogosquare.png" />
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
  </head>
  <body>
    <script>console.log("Hello World");</script>
    <h1> 404 </h1>
    <br>
    <p>
      This page doesn't exist or we couldn't find it  
      <br>
    <div class=navbar>
      <a href="/">Go home</a>
      <br>
      <a href="/sitemap">Sitemap</a> 
    </div> 
    </p>
  </body>
</html>